.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  letter-spacing: 1px;
}

.hello {
  margin-right: 2px;
  padding: 12px;
  font-size: 15px;
  letter-spacing: 0.3px;
}
